@import "../../scss/colours.scss";

.sidebar{
  padding: 0;
}

.sidebar-sticky {
  position: relative;
  height: 100vh;
  background: $dark-sidebar;

  .nav {
    display: block;
    .first-child{
      padding: 12px;
    }
  }

  .nav > li { 
    padding: 20px;
    border-bottom: 1px solid #FFFDFD;
  }

  .nav > li > a {
    color: $white;
    cursor: pointer;
    font-size: 0.875rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $white;
      background: transparent;
    }
  }

  .nav > li > a > .icon {
    margin: 0.2rem 0.5rem;
    float: left;
  }
}