@import '../../shared/scss/colours.scss';

.btn-create,
.btn-create:hover,
.btn-create:active {
    margin-bottom: 1rem;
    float: right;
    background-color: $primary;
}

.btn-primary {
    background-color: $primary;
}

ul{
    list-style: none;
}
