@import '../../shared/scss/colours.scss';

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:visited{
    background-color: $primary;
    border: none;
}

.btn-primary:active,
.btn-primary:focus{
    background-color: $primary;
    border: none;
    box-shadow: none;
}