.dashboard {
    padding-top: 48px;

    .top-nav {
        height: 40px;
        padding: 5px;
        background: #EDE7E7;
        margin-top: 40px;
        font-weight: 500;
    }

    .cards {
        width: 100%;
        display: block;
        list-style: none;
        padding-left: 0;
        margin-top: 1rem;

        li {
        display: inline-block;
        }
    }
}
