$font-color: #514F4F;
$dark-gray :  #817B7B;
$medium-gray: #C4C4C4;
$light-gray: #C9CFDA;

$white: #FFF7F7;

$dark-orange: rgba(232, 179, 132, 0.15);
$medium-orange: #E36620;
$light-orange: rgba(232, 179, 132, 0.41);

$dark-sidebar: #24020E;

$navbar-background: #DADADA;
$background-color: #E5E5E5;