.card {
    width: 13rem;
    padding: 0.5rem;
    background: rgba(232, 179, 132, 0.41);
    border-radius: 0;
    border: none;
    color: #581616;
    margin: 0 5rem 1rem 0;

    > span {
        font-size: 0.7rem;
        font-weight: 500;
        margin-bottom: 0.6rem;
    }

    .smaller {
        margin-top: 0.6rem;
        margin-bottom: 0;
        font-size: 0.5rem;
    }
}