.login-screen {
    background: #fff;
    margin: 5rem auto;
    width: 40%;
    padding: 5rem;
    background: green;
    border-radius: 0.7rem;
    box-shadow: -1px 0px 20px 0px red;
}

.login-btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
}
