@import "vendor/scss/vendor.scss";
@import "shared/scss/colours.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

// buttons 
.btn-primary {
  background-color: $primary;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active {
  background-color: $secondary;
  border: none;
}
